<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android" id="com-moduscreate-plugins-echoswift" version="0.0.1">
   <name>ModusEchoSwiftName</name>
   <description>my description</description>
   <js-module name="ModusEchoSwiftJSModule" src="www/ModusEchoSwift.js">
      <clobbers target="mes" />
   </js-module>
   <platform name="ios">
      <config-file target="config.xml" parent="/*">
         <feature name="ModusEchoSwiftFeature">
            <param name="ios-package" value="ModusEchoSwiftNativeClassName" />
         </feature>
      </config-file>
      <source-file src="src/ios/ModusEchoSwift.swift" />
   </platform>
</plugin>
